<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>282376739399-e62flrfnbh3iact0b24tqmuso175ft7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282376739399-e62flrfnbh3iact0b24tqmuso175ft7h</string>
	<key>API_KEY</key>
	<string>AIzaSyBRul7nkFl2j9ngjvkOcBa0V8c7yfbYr08</string>
	<key>GCM_SENDER_ID</key>
	<string>282376739399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexivanov.scans</string>
	<key>PROJECT_ID</key>
	<string>com-alexivanov-scans</string>
	<key>STORAGE_BUCKET</key>
	<string>com-alexivanov-scans.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282376739399:ios:c8519f883ccfcd96</string>
	<key>DATABASE_URL</key>
	<string>https://com-alexivanov-scans.firebaseio.com</string>
</dict>
</plist>